body{
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    cursor: none;
}

@keyframes appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#invertedcursor {
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(255, 55, 0);
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    filter: blur(1px);
    transition: transform .2s;
  }

#circle-container {
    position:fixed;
    width: 50vw;
    height: 50vw;
    top:5vw;
    left:20vw;
    /* top: 30%;
    left: 30%;
    transform: translate(-50%,-50%); */
    z-index:10;
    mix-blend-mode: screen;
    animation: appear 3s forwards ease;
}

.circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
}

.date {
    position: absolute;
    text-align: justify;
    font-family: 'Michroma', sans-serif;
    font-size: 10px;
    width: 20vw;
    height: 20vw;
    color: rgb(255, 55, 0);
    filter: blur(0.2px);
    text-shadow: 0px 0px 5px rgb(255, 55, 0);
    line-height: 2vw;
    animation: rotate 30s linear infinite;
    

}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#l1{
    position: fixed;
    left: 20vw;
    top: 10vw;
    width: 1px;
    height: 30vw;
    transform: rotate(45deg);
    background: rgb(255, 55, 0);
    transform-origin: 0 0;
    animation: rotate 5s linear infinite, appear 3s forwards ease;;
}

#l2{
    position: fixed;
    display: inline-flex;
    left: 20vw;
    top: 10vw;
    width: 1px;
    height: 10vw;
    transform: rotate(-10deg);
    background: rgb(255, 55, 0);
    transform-origin: 0 0;
    animation: rotate2 30s linear infinite, appear 3s forwards ease;;
}

#l3{
    position: fixed;
    display: inline-flex;
    left: 20vw;
    top: 10vw;
    width: 1px;
    height: 20vw;
    transform: rotate(-10deg);
    background: rgb(255, 55, 0);
    transform-origin: 0 0;
    animation: rotate2 20s linear infinite, appear 3s forwards ease;;
}

.clock{
    position: fixed;
    top: -9vw;
    left: 1vw;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 1px solid rgb(255, 55, 0);
    animation: appear 3s forwards ease;
}

@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}



 .text1{
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    font-family: 'Comtech', sans-serif;
    font-size: 10vw;
    line-height: 8vw;
    transform: skew(30deg, 20deg);
    /* color: rgb(255, 55, 0); */
    filter: blur(0.3px);
    /* text-shadow: 0px 0px 5px rgb(255, 55, 0); */
    text-shadow: 1px 1px 5px rgb(255, 55, 0);
    color: transparent;
    background: linear-gradient(180deg, rgba(255,255,255,1) 31%, rgba(255,61,40,1) 59%, rgba(255,61,40,0.6993391106442577) 86%, rgba(255,61,40,0) 100%);
    background-clip: text;
    animation: up 4s forwards ease, textShadow 10s infinite ease, appear 3s forwards ease;;
}

@keyframes up{
    0%{bottom: -5vw;
    opacity: 0;
    transform: skew(0deg, 0deg);
}
    50%{opacity: 0;}
    100%{bottom: 1vw;
    opacity: 1;}
}

@keyframes textShadow{
    0%{text-shadow: 1px 1px 5px rgb(255, 55, 0);}
    50%{text-shadow: 1px 1px 5px rgb(255, 255, 255);}
}

/* .sun1{
    position: fixed;
    bottom: 0vw;
    left: 5vw;
    width: 4vw;
    height: 4vw;
    filter: blur(10px);
    border-radius: 50%;
    background: rgb(255,61,40);
background: radial-gradient(circle, rgba(255,61,40,1) 0%, rgba(255,255,255,1) 88%);
animation: up1 10s infinite ease;
mix-blend-mode: overlay;
} */

/* @keyframes up1{
    0%{
        opacity: 0;
        bottom: -10vw;
    }
    50%{
        opacity: 1;
        bottom: 10vw;
        left: 15vw;
    }
    100%{
        opacity: 0;
        bottom: -10vw;
        left: 25vw;
    }
} */

.sun{
    position: fixed;
    width: 30vw;
    height: 30vw;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,61,40,1) 100%);
    border-radius: 50%;
    filter: blur(20px);
    right: 5vw;
    top: 5vw;
    mix-blend-mode: screen;
    box-shadow: inset -20px 5px 30px rgb(255, 255, 255), 0px 0px 105px 45px rgba(255,255,255,0.9);
    animation: amplify 10s infinite ease, appear 3s forwards ease;;
}

@keyframes amplify{
    0%{
        width: 0;
        height: 0;
    }
    50%{
        width: 30vw;
        height: 30vw;

    }
    100%{
        width: 0;
        height: 0;
    }
}


.setContainer{
    animation: appear 3s forwards ease;
}

#set1{
    position: fixed;
    width: 35vw;
    height: 20vw;
    right: 10vw;
    bottom: 15vw;
    /* border: 1px solid rgb(255, 55, 0); */
    transform: skew(10deg, 10deg);
    background: rgb(255, 55, 0);
}

#set2{
    position: fixed;
    width: 35vw;
    height: 5vw;
    right: 0vw;
    bottom: 0vw;
    background: linear-gradient(0deg, rgba(255,61,40,1) 5%, rgba(255,61,40,1) 21%, rgba(255,61,40,0.6993391106442577) 40%, rgba(255,61,40,0) 100%);
    /* transform: skew(0deg, 0deg); */
    /* box-shadow: inset -5px -15px 15px rgb(182, 21, 0); */
}

#set3{
    position: fixed;
    width: 35vw;
    height: 10vw;
    right: 2.9vw;
    bottom: -10vw;
    /* border-bottom: 1px solid rgb(255, 55, 0);
    border-left: 1px solid rgb(255, 55, 0);
    border-right: 1px solid rgb(255, 55, 0); */
    background:linear-gradient(180deg, rgb(193, 19, 0) 0%, rgba(255,61,40,0.6993391106442577) 40%, rgba(255,61,40,0) 73%, rgba(255,255,255,1) 100%);
    transform: skew(-30deg, 0deg);

}

.circle2{
    width: 1.5vw;
    height: 1.5vw;
    filter: blur(1px);
    border-radius: 50%;
    animation: none;
}

#c1{
    position: fixed;
    display: inline-flex;
    top: 3vw;
    left: 3vw;
    background: white;
}

#c2{
    position: fixed;
    display: inline-flex;
    bottom: 3vw;
    left: 3vw;
    background: rgb(255, 55, 0);
}

#c3{
    position: fixed;
    display: inline-flex;
    top: 3vw;
    right: 3vw;
    background: rgb(255, 55, 0);
}
