:root{
    width: 5vw;
    height: 5vw;
}

body{
    background-image: url("img/pixel1.gif"),url("img/city.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: black;
}

@font-face {
    font-family: terminal;
    src: url(terminal-grotesque-webfont.woff);
  }

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret{
    from, to { border-color: transparent;}
    50% { border-color: rgb(0, 0, 0) }
} 

@keyframes online{
    50%{color: rgb(80, 255, 80);}
}

@keyframes wiggle{
    0%{ transform: rotate(2deg);}
    25%{ transform: rotate(0deg);}
    50%{ transform: rotate(-2deg);}
    100%{ transform: rotate(2deg);}
}

@keyframes move{
    0%{ top:8vw;}
    50%{ top:6vw;}
    100%{top:8vw;}
}


.banner{
    position: relative;
    padding: 0;
    margin: 0;
    /* width: calc(3 * var(--width));
    height: var(--height); */
    width: 100vw;
    background-color: rgb(0, 0, 0);
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700; 
    filter: blur(1px);
    border-bottom: 3px solid rgb(255, 254, 254);
  }

#school{
    /* font-family: 'border7alp', sans-serif; */
    font-size: 1.3vw;
    font-family: 'Fipps', sans-serif;
    color: black;
    background-color: rgb(139, 139, 139);
    box-shadow: inset 2px 3px 3px rgb(255, 255, 255);
                                                
}

#title1{
    padding: 5px;
    font-size: 2vw;
    color: white;
}

#title2{
    display: inline;
    position: absolute;
    width: 2vw;
    height: 2.5vw;
    background-color: rgb(0, 0, 0);
    color: white;
    border:3px solid rgb(255, 254, 254);
    animation: online 0.5s step-end infinite;
}

#cloud{
    display: inline;
    position: absolute;
    width: 3vw;
    height: 2.5vw;
}

#umbrella{
    display: inline;
    position: absolute;
    width: 3vw;
    height: 2.5vw;
}

marquee{
    display: inline-block;
    position: absolute;
    right: 2vw;
    width: 20vw;
    white-space: nowrap;
    font-size: 2vw;
}

#time{
    font-family: 'IconBitOne', sans-serif;

}

.project{
    position: relative;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 3vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700; 
    filter: blur(1px);
    text-align: center;
}

#notion{
    position: absolute;
    top: -1.5vw;
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 2vw;
    color: black;
    background-color: red;
    border-radius: 50%;
    border: 2.5px solid black;
}

#p1{
    display: block;
    background-color: rgb(0, 0, 0);
    color:white;
    position: absolute;
    top:2vw;
    left: 1vw;
    width: 20vw;
    border:5px solid rgb(255, 254, 254);
    border-radius: 10px;
}

#p2{
    display: block;
    background-color: rgb(0, 0, 0);
    color:white;
    position: absolute;
    top:8vw;
    left: 1vw;
    width: 20vw;
    border:5px solid rgb(255, 254, 254);
    border-radius: 10px;
}

#p3{
    display: block;
    background-color: rgb(0, 0, 0);
    color:white;
    position: absolute;
    top:14vw;
    left: 1vw;
    width: 20vw;
    border:5px solid rgb(255, 254, 254);
    border-radius: 10px;
}
  
#p4{
    display: block;
    background-color: rgb(0, 0, 0);
    color:white;
    position: absolute;
    top:20vw;
    left: 1vw;
    width: 20vw;
    border:5px solid rgb(255, 254, 254);
    border-radius: 10px;
}

.button{
    position: relative;
    filter: blur(1px);
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700; 
}

#clock{
    position:absolute;
    top:2vw;
    left: 93vw;
    width: 5vw;
    background-color: white;  
    border: 3px solid rgb(255, 255, 255);
    box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
    animation: wiggle ease 0.5s infinite;
}

#arrow{
    position:absolute;
    transform: rotate(-90deg);
    top:8vw;
    left: 94vw;
    width: 3vw;
    animation: move ease-in-out 0.5s infinite;
}

#clock:hover{
    animation-play-state: paused;
}

#popup {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 10vw;
    left: 70vw;
    width: 22vw;
    height: 15vw;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    background-color: rgb(154, 154, 154);
    text-align: center;
    line-height: 1.6;
    box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
    border: 5px solid rgb(154, 154, 154);
  }

li{
    border-bottom: 1px solid black;
}

#ddl{
    color: red;
    font-size: 2.5vw;
    font-family: 'border7alp', sans-serif;
    /* background-color: rgb(0, 0, 0); */
}

.button:hover #popup {
    opacity: 1;
  }


  .typewriter {
    overflow: hidden;
    white-space:nowrap;
    width: 18vw;
    position: relative;
    left: 80vw;
    top: 80vh;
    /* margin-left: 80vw;
    margin-top: 80vh; */
    /* height: var(--height); */
    /* background: inherit; */
    opacity: 0.8;
    filter: blur(1px);
    background-color: white;
    border: 5px solid rgb(150, 150, 150);
    box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
    
  }

  .text {
    margin: auto;
    /* display: inline-block; */
    white-space: nowrap;
    border-right: 1.5px solid rgb(0, 0, 0);
    overflow: hidden;
    animation: typing 2s steps(15) forwards, blink-caret 0.5s step-end infinite;
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700; 
    filter: blur(0.3px);
    text-align: center;
    /* background-color: white;
    border: 5px solid rgb(0, 0, 0); */
  }


  @media only screen and (max-width: 600px){

    @keyframes move{
        0%{ top:10vw;}
        50%{ top:9vw;}
        100%{top:10vw;}
    }

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 250vw;
        background-color: black;
    }
    
    #school{
        /* font-family: 'border7alp', sans-serif; */
        font-size: 2vw;
                                                    
    }
    
    #title1{
        padding: 5px;
        font-size: 3vw;
    }
    
    #title2{
        display: inline-block;
        width: 3vw;
        height: 3.5vw;
        border:2px solid rgb(255, 254, 254);
    }
    
    #cloud{
        display: inline-block;
        top: 30px;
        width: 4vw;
        height: 3.5vw;
    }
    
    #umbrella{
        display: inline-block;
        top: 30px;
        width: 4vw;
        height: 3.5vw;
    }
    
    marquee{
        display: inline-block;
        position: absolute;
        left: 18vw;
        width: 78vw;
        white-space: nowrap;
        font-size: 3vw;
    }
    
    .project{
        font-size: 5vw;
    }
    
    #notion{
        position: absolute;
        top: -2vw;
        display: inline-block;
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
        border: 3px solid black;
    }

    #p1{
        top:2vw;
        left: 2vw;
        width: 30vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p2{
        top:12vw;
        left: 2vw;
        width: 30vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p3{
        top:22vw;
        left: 2vw;
        width: 30vw;
        border: 4px solid rgb(255, 254, 254);
    }
      
    #p4{
        top:32vw;
        left: 2vw;
        width: 30vw;
        border: 4px solid rgb(255, 254, 254);
    }

#clock{
    position:absolute;
    top:2vw;
    left: 90vw;
    width: 8vw;
}

#arrow{
    top:10vw;
    left: 91.5vw;
    width: 5vw;
}


#popup {
    left: 40vw;
    width: 45vw;
    height: 30vw;
    font-size: 3vw;
  }

li{
    border-bottom: 1px solid black;
}

#ddl{
    font-size: 4vw;
}


.typewriter {
    overflow: hidden;
    white-space:nowrap;
    width: 30vw;
    position: relative;
    left: 60vw;
    top: 80vh;
    /* margin-left: 80vw;
    margin-top: 80vh; */
    /* height: var(--height); */
    /* background: inherit; */
    opacity: 0.8;
    filter: blur(1px);
    background-color: white;
    border: 5px solid rgb(150, 150, 150);
    box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
    
  }

  .text {
    margin: auto;
    /* display: inline-block; */
    white-space: nowrap;
    border-right: 1.5px solid rgb(0, 0, 0);
    overflow: hidden;
    animation: typing 2s steps(15) forwards, blink-caret 0.5s step-end infinite;
    color: rgb(0, 0, 0);
    font-size: 5vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700; 
    filter: blur(0.3px);
    text-align: center;
    /* background-color: white;
    border: 5px solid rgb(0, 0, 0); */
  }

  }



  @media only screen and (min-width: 600px){

    /* @keyframes move{
        0%{ top:10vw;}
        50%{ top:9vw;}
        100%{top:10vw;}
    } */

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 210vw;
        background-color: black;
    }


    /* #school{
        font-size: 2.5vw;
                                                    
    }
    
    #title1{
        padding: 5px;
        font-size: 3.5vw;
    }
    
    #title2{
        display: inline-block;
        width: 3vw;
        height: 3.5vw;
        border:2px solid rgb(255, 254, 254);
        top:37.5px;
        text-align: center;
    }
    
    #cloud{
        display: inline-block;
        top: 37.5px;
        width: 4vw;
        height: 3.5vw;
    }
    
    #umbrella{
        display: inline-block;
        top: 37.5px;
        width: 4vw;
        height: 3.5vw;
    }
    
    marquee{
        display: inline-block;
        position: absolute;
        left: 40vw;
        width: 55vw;
        white-space: nowrap;
        font-size: 3vw;
    }

    .project{
        font-size: 5.3vw;
    }
    
    #notion{
        position: absolute;
        top: -2vw;
        display: inline-block;
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
        border: 3px solid black;
    }

    #p1{
        top:2vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p2{
        top:12vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p3{
        top:22vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
      
    #p4{
        top:32vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }

    #clock{
        position:absolute;
        top:2vw;
        left: 88vw;
        width: 9vw;
    }
    
    #arrow{
        top:12vw;
        left: 89.5vw;
        width: 6vw;
    } */
    
    
    #popup {
        left: 50vw;
        width: 35vw;
        height: 20vw;
        font-size: 2vw;
      }
    
    li{
        border-bottom: 1px solid black;
    }
    
    #ddl{
        font-size: 3vw;
    }
    
    
    /* .typewriter {
        overflow: hidden;
        white-space:nowrap;
        width: 30vw;
        position: relative;
        left: 60vw;
        top: 80vh;
        opacity: 0.8;
        filter: blur(1px);
        background-color: white;
        border: 5px solid rgb(150, 150, 150);
        box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
        
      }
    
      .text {
        margin: auto;
        white-space: nowrap;
        border-right: 1.5px solid rgb(0, 0, 0);
        overflow: hidden;
        animation: typing 2s steps(15) forwards, blink-caret 0.5s step-end infinite;
        color: rgb(0, 0, 0);
        font-size: 5vw;
        font-family: 'OffBit Trial', sans-serif; 
        font-weight: 700; 
        filter: blur(0.3px);
        text-align: center;
      }
    

     */
    
  }

  /* @media only screen and (min-width: 768px){

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 160vw;
        background-color: black;
    }

    @keyframes move{
        0%{ top:10vw;}
        50%{ top:9vw;}
        100%{top:10vw;}
    }

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 210vw;
        background-color: black;
    }


    #school{
        font-size: 2.5vw;
                                                    
    }
    
    #title1{
        padding: 5px;
        font-size: 3.5vw;
    }
    
    #title2{
        display: inline-block;
        width: 3vw;
        height: 3.5vw;
        border:2px solid rgb(255, 254, 254);
        top:6vw;
        text-align: center;
    }
    
    #cloud{
        display: inline-block;
        top:6vw;
        width: 4vw;
        height: 3.5vw;
    }
    
    #umbrella{
        display: inline-block;
        top:6vw;
        width: 4vw;
        height: 3.5vw;
    }
    
    marquee{
        display: inline-block;
        position: absolute;
        left: 40vw;
        width: 55vw;
        white-space: nowrap;
        font-size: 3vw;
    }

    .project{
        font-size: 5.3vw;
    }
    
    #notion{
        position: absolute;
        top: -2vw;
        display: inline-block;
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
        border: 3px solid black;
    }

    #p1{
        top:2vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p2{
        top:12vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
    
    #p3{
        top:22vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }
      
    #p4{
        top:32vw;
        left: 2vw;
        width: 32vw;
        border: 4px solid rgb(255, 254, 254);
    }

    #clock{
        position:absolute;
        top:2vw;
        left: 88vw;
        width: 9vw;
    }
    
    #arrow{
        top:12vw;
        left: 89.5vw;
        width: 6vw;
    }
    
    
    #popup {
        left: 40vw;
        width: 45vw;
        height: 30vw;
        font-size: 3vw;
      }
    
    li{
        border-bottom: 1px solid black;
    }
    
    #ddl{
        font-size: 4vw;
    }
    
    
    .typewriter {
        overflow: hidden;
        white-space:nowrap;
        width: 30vw;
        position: relative;
        left: 60vw;
        top: 75vh;
        opacity: 0.8;
        filter: blur(1px);
        background-color: white;
        border: 5px solid rgb(150, 150, 150);
        box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
        
      }
    
      .text {
        margin: auto;
        white-space: nowrap;
        border-right: 1.5px solid rgb(0, 0, 0);
        overflow: hidden;
        animation: typing 2s steps(15) forwards, blink-caret 0.5s step-end infinite;
        color: rgb(0, 0, 0);
        font-size: 5vw;
        font-family: 'OffBit Trial', sans-serif; 
        font-weight: 700; 
        filter: blur(0.3px);
        text-align: center;
      }
    
    

  } */

  @media only screen and (min-width: 992px){

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 130vw;
        background-color: black;
    }

    @keyframes move{
        0%{ top:8vw;}
        50%{ top:6vw;}
        100%{top:8vw;}
    }


    #school{
        font-size: 1.3vw;
                                                    
    }
    
    #title1{
        padding: 5px;
        font-size: 2vw;
    }
    
    #title2{
        display: inline;
        position: absolute;
        top:0.5vw;
        width: 2vw;
        height: 2.5vw;
        border:3px solid rgb(255, 254, 254);
        text-align: center;
    }
    
    #cloud{
        display: inline;
        position: absolute;
        top:0.5vw;
        width: 3vw;
        height: 2.5vw;
    }
    
    #umbrella{
        display: inline;
        position: absolute;
        top:0.5vw;
        width: 3vw;
        height: 2.5vw;
    }
    
    marquee{
        display: inline-block;
        position: absolute;
        left: 75vw;
        width: 25vw;
        white-space: nowrap;
        font-size: 2vw;
    }

    .project{
        font-size: 3vw;
    }
    
    #notion{
        position: absolute;
        top: -1.5vw;
        display: inline-block;
        width: 2.5vw;
        height: 2.5vw;
        font-size: 2vw;
        border: 2.5px solid black;
    }

    #p1{
        top:2vw;
        left: 1vw;
        width: 20vw;
        border: 5px solid rgb(255, 254, 254);
    }
    
    #p2{
        top:8vw;
        left: 1vw;
        width: 20vw;
        border: 5px solid rgb(255, 254, 254);
    }
    
    #p3{
        top:14vw;
        left: 1vw;
        width: 20vw;
        border: 5px solid rgb(255, 254, 254);
    }
      
    #p4{
        top:20vw;
        left: 1vw;
        width: 20vw;
        border: 5px solid rgb(255, 254, 254);
    }

    #clock{
        position:absolute;
        top:2vw;
        left: 93vw;
        width: 5vw;
    }
    
    #arrow{
        top:8vw;
        left: 94vw;
        width: 3vw;
    }
    
    
    #popup {
        left: 70vw;
        width: 25vw;
        height: 15vw;
        font-size: 1.5vw;
      }
    
    li{
        border-bottom: 1px solid black;
    }
    
    #ddl{
        font-size: 2.5vw;
    }
    
    
    .typewriter {
        overflow: hidden;
        white-space:nowrap;
        width: 18vw;
        position: relative;
        left: 80vw;
        top: 80vh;
        /* margin-left: 80vw;
        margin-top: 80vh; */
        /* height: var(--height); */
        /* background: inherit; */
        opacity: 0.8;
        filter: blur(1px);
        background-color: white;
        border: 5px solid rgb(150, 150, 150);
        box-shadow: inset 2px 3px 3px rgb(0, 0, 0);
        
      }
    
      .text {
        margin: auto;
        /* display: inline-block; */
        white-space: nowrap;
        border-right: 1.5px solid rgb(0, 0, 0);
        overflow: hidden;
        animation: typing 2s steps(15) forwards, blink-caret 0.5s step-end infinite;
        color: rgb(0, 0, 0);
        font-size: 3vw;
        font-family: 'OffBit Trial', sans-serif; 
        font-weight: 700; 
        filter: blur(0.3px);
        text-align: center;
        /* background-color: white;
        border: 5px solid rgb(0, 0, 0); */
      }
    

  }

  @media only screen and (min-width: 1280px){

    body{
        background-image: url("img/pixel1.gif"),url("img/city.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-color: black;
    }
  }