.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
}

.content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

.date {
    font-size: 10vw;
}
