body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
    /* cursor:url('circle.svg'),auto; */
    /* cursor: pointer; */
    /* background: linear-gradient(0deg, rgba(255,61,40,1) 0%, rgba(221,167,74,1) 16%, rgba(45,154,253,1) 100%); */

}

#invertedcursor {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    filter: blur(1px);
    transition: transform .2s;
  }

.bg1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,61,40,1) 21%, rgba(255,61,40,0.6993391106442577) 40%, rgba(255,61,40,0) 100%);
    /* animation: appear 4s forwards ease; */
}

/* @keyframes appear{
    0%{opacity: 0;
    bottom: -50vw;}
    100%{opacity: 1;
        bottom: 0vw;}
} */

/* .bg2{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,61,40,1) 0%, rgba(255,255,255,0) 15%);
    z-index: 10;
} */

.title{
    display: inline-flex;
    position: fixed;
    /* bottom: 15vw; */
    left: 10vw;
    transform: skew(30deg, 20deg);
    font-size: 10vw;
    font-family: 'Comtech', sans-serif;
    line-height: 15vh;
    color: transparent;
    background: linear-gradient(180deg, rgba(255,255,255,1) 31%, rgba(255,61,40,1) 59%, rgba(255,61,40,0.6993391106442577) 86%, rgba(255,61,40,0) 100%);
    background-clip: text;
    /* -webkit-box-shadow:0px 0px 105px 45px rgba(255,255,255,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(255,255,255,0.9);
box-shadow: 0px 0px 105px 45px rgba(255,255,255,0.9); */
text-shadow: 1px 1px 5px rgb(255, 255, 255);
    /* z-index: 10;    */
    animation: textShadow 10s infinite ease, up 3s forwards ease;                             
}

@keyframes textShadow{
    0%{text-shadow: 1px 1px 5px rgb(255, 255, 255);}
    50%{text-shadow: 1px 1px 5px rgb(255, 55, 0);}
}

@keyframes up{
    0%{bottom: 0vw;
    opacity: 0;
    transform: skew(0deg, 0deg);}
    50%{opacity: 0;}
    100%{bottom: 15vw;
    opacity: 1;}
}

.sun{
    position: relative;
    left: 0vw;
    width: 15vw;
    height: 15vw;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 66%, rgba(255,61,40,1) 100%);
border-radius: 50%;
filter: blur(3px);
box-shadow: inset -20px 5px 30px rgb(255, 255, 255), 0px 0px 105px 45px rgba(255,255,255,0.9);
animation: up2 4s forwards ease, light 10s infinite ease;
animation-delay: light 4s;
}

/* .disable-animation {
    animation: none !important;
} */

@keyframes up2{
    0%{bottom:0vw;
        left:0vw;
    opacity: 0;}
    50%{
        opacity: 0;
    }
    100%{bottom: 45vw;
    left: 70vw;
    opacity: 1;}
}

@keyframes light{
    0%{box-shadow: inset -20px 5px 30px rgb(255, 255, 255), 0px 0px 105px 45px rgba(255,255,255,0.9);}
    50%{box-shadow: inset -20px 5px 30px rgb(255, 55, 0), 0px 0px 90px 20px rgba(255,255,255,0.9);}
}

.text1{
    position: fixed;
    bottom: 1vw;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Michroma', sans-serif;
                                                
    /* font-family: 'LT Bump', sans-serif; */
    /* font-family: 'LT Bump Condensed', sans-serif; */
    font-size: 1vw;
    color: rgb(255, 55, 0);
    filter: blur(0.3px);
    text-shadow: 0px 0px 5px rgb(255, 55, 0);
    animation: up3 4s forwards ease;
}

a {
    color:rgb(255, 55, 0);
}

@keyframes up3{
    0%{bottom: 0vw;
    opacity: 0;}
    50%{opacity: 0;}
    100%{bottom: 1vw;
    opacity: 1;}
}


/* .text2{
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    font-family: 'Michroma', sans-serif;
    font-size: 1vw;
    color: rgb(255, 55, 0);
    filter: blur(0.3px);
    text-shadow: 0px 0px 5px rgb(255, 55, 0);
    animation: up3 4s forwards ease;
}

.text3{
    position: fixed;
    bottom: 0.5vw;
    right: 1vw;
    font-family: 'Michroma', sans-serif;
    font-size: 1vw;
    color: rgb(255, 55, 0);
    filter: blur(0.3px);
    text-shadow: 0px 0px 5px rgb(255, 55, 0);
    animation: up3 4s forwards ease;
} */