body{
    background-color: black;
}

.resizable-container{
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 79.5vw;
    height: 89.5vh;
    resize: both;
    overflow: hidden;
    z-index: 99;
    filter: blur(1px);
    /* border-right: 8px black solid;
    border-bottom: 8px black solid; */
    box-shadow: 1vw 1vw 1vw black;
}

::-webkit-resizer {
    opacity: 0;
}

.resize-button{
    position: absolute;
    width: 3.1vw;
    height: 3.1vw;
    bottom: 0.3vw;
    right: 0.5vw;
    background-color: black;
    border: 3px solid white;
    border-radius: 8px;
}

#resize{
    position: absolute;
    top: 0.3vw;
    left: 0.33vw;
    width: 2vw;


}

.jqclock{
    position: fixed;
    left: 1vw;
    top: 1vw;
    background-color: rgb(56, 56, 56);
    width: 15vw;
    height: 3vw;
    font-family: 'Edit Undo Line BRK', sans-serif;
    font-size: 1.5vw;
    border-radius: 2px;
    box-shadow: inset 2px 2px rgb(146, 146, 146);
    outline: 4px solid rgb(96, 96, 96);
    filter: blur(1px);
    z-index: 100;
}

.clocktime{
    position: absolute;
    top: 0.5vw;
    left: 1.2vw;
    font-size: 2vw;
    letter-spacing: 2px;
    color:rgb(222, 222, 222);
}

.exit-button{
    position: fixed;
    width: 3.1vw;
    height: 3.1vw;
    top: 5vw;
    left: 1vw;
    background-color: black;
    border: 3px solid white;
    border-radius: 8px;
    z-index: 101;
    filter: blur(1px);
}

#exit{
    position: absolute;
    top: 0.3vw;
    left: 0.5vw;
    width: 2vw;
}

.bg-container{
    display: flex;
    width: auto;
    height: 100vh;
}

.bg-container img{
    display: none;
}

.discoBall{
    position: absolute;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    top: -1vw;
    left: 28%;
    transform: translate(-28%);
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    transition: transform .25s ease;
    /* align-items: center;
    justify-content: center; */
}

.lightSmall{
    position: absolute;
    display: inline-block;
    top: 0vw;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.light{
    position: absolute;
    display: inline-block;
    top: 0vw;
}




.rightBar{
    background-color: rgb(118, 118, 118);
    position: fixed;
    display: inline-block;
    right: 0;
    top: 0;
    width: 20vw;
    height: 90vh;
    border-left: 8px solid black;
    filter: blur(1px);
    z-index: 1;
}

.intro{
    background-color: white;
    width: 20vw;
    height: 7vw;



}

#welcome{
    background-color: black;
    width: 18vw;
    overflow: hidden;
    font-family: 'Fipps', sans-serif;
    font-size: 1vw;
    position: absolute;
    left: 0.7vw;
    top: 0.5vw;
    border-radius: 10px;
    border: 3px solid white;
    outline: 3px solid black;

}

#welcome marquee{
    color: white;
    width: 50vw;

}

.lines{
    position: absolute;
    top: 0.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l1{
    position: absolute;
    top: 0.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l2{
    position: absolute;
    top: 1vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l3{
    position: absolute;
    top: 1.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l4{
    position: absolute;
    top: 2vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l5{
    position: absolute;
    top: 2.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l6{
    position: absolute;
    top: 3vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l7{
    position: absolute;
    top: 3.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l8{
    position: absolute;
    top: 3.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l9{
    position: absolute;
    top: 4vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l10{
    position: absolute;
    top: 4.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l11{
    position: absolute;
    top: 5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l12{
    position: absolute;
    top: 5.5vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l13{
    position: absolute;
    top: 6vw;
    width: 20vw;
    border: 0.5px solid black;
}

#l14{
    position: absolute;
    top: 6.5vw;
    width: 20vw;
    border: 1px solid black;
}






@keyframes move1{
    0%{transform: scaleY(0);}
    50%{transform: scaleY(1);}
    100%{transform: scaleY(0);}
}

@keyframes move2{
    0%{transform: scaleY(1);}
    50%{transform: scaleY(0.5);}
    /* 75%{transform: scaleY(0.3);} */
    100%{transform: scaleY(1);}
}

@keyframes move3{
    0%{transform: scaleY(1);}
    50%{transform: scaleY(0.4);}
    100%{transform: scaleY(1);}
}

@keyframes move4{
    0%{transform: scaleY(1);}
    50%{transform: scaleY(0.2);}
    100%{transform: scaleY(1);}
}


.blocks{
    overflow: hidden;
    width:20vw;
    height: 7vw;
}

#b1{
    position: absolute;
    width:1vw;
    height: 2vw;
    background-color: black;
    top: 5vw;
    left: 0.5vw;
    transform-origin: bottom;
    animation: move1 0.5s ease-in-out .3s infinite;
}

#b2{
    position: absolute;
    width:1vw;
    height: 4vw;
    background-color: black;
    top: 3vw;
    left: 2vw;
    transform-origin: bottom;
    animation: move2 0.5s ease-in-out .2s infinite;
}

#b3{
    position: absolute;
    width:1vw;
    height: 2vw;
    background-color: black;
    top: 5vw;
    left: 3.5vw;
    transform-origin: bottom;
    animation: move1 0.5s ease-in-out .2s infinite;
}


#b4{
    position: absolute;
    width:1vw;
    height: 5vw;
    background-color: black;
    top: 2vw;
    left: 5vw;
    transform-origin: bottom;
    animation: move3 0.5s ease-in-out .3s infinite;
}

#b5{
    position: absolute;
    width:1vw;
    height: 3.5vw;
    background-color: black;
    top: 3.6vw;
    left: 6.5vw;
    transform-origin: bottom;
    animation: move4 0.5s ease-in-out .2s infinite;
}

#b6{
    position: absolute;
    width:1vw;
    height: 3vw;
    background-color: black;
    top: 4vw;
    left: 8vw;
    transform-origin: bottom;
    animation: move4 0.5s ease-in-out .3s infinite;
}

#b7{
    position: absolute;
    width:1vw;
    height: 2vw;
    background-color: black;
    top: 5vw;
    left: 9.5vw;
    transform-origin: bottom;
    animation: move1 0.5s ease-in-out .3s infinite;
}

#b8{
    position: absolute;
    width:1vw;
    height: 1vw;
    background-color: black;
    top: 6vw;
    left: 11vw;
    transform-origin: bottom;
    animation: move2 0.5s ease-in-out .4s infinite;
}


#b9{
    position: absolute;
    width:1vw;
    height: 3vw;
    background-color: black;
    top: 4vw;
    left: 12.5vw;
    transform-origin: bottom;
    animation: move3 0.5s ease-in-out .2s infinite;
}

#b10{
    position: absolute;
    width:1vw;
    height: 3vw;
    background-color: black;
    top: 4vw;
    left: 14vw;
    transform-origin: bottom;
    animation: move4 0.5s ease-in-out .3s infinite;
}

#b11{
    position: absolute;
    width:1vw;
    height: 5vw;
    background-color: black;
    top: 2vw;
    left: 15.5vw;
    transform-origin: bottom;
    animation: move4 0.5s ease-in-out .2s infinite;
}

#b12{
    position: absolute;
    width:1vw;
    height: 3.5vw;
    background-color: black;
    top: 3.5vw;
    left: 17vw;
    transform-origin: bottom;
    animation: move2 0.5s ease-in-out .3s infinite;
}

#b13{
    position: absolute;
    width:1vw;
    height: 2.5vw;
    background-color: black;
    top: 4.5vw;
    left: 18.5vw;
    transform-origin: bottom;
    animation: move3 0.5s ease-in-out .4s infinite;
}

.hours{
    background-color: rgb(56, 56, 56);
    width: 10vw;
    overflow: hidden;
    font-family: 'Edit Undo Line BRK', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    display: inline-block;
    left: 90vw;
    top: 30vw;
    border-radius: 2px;
    box-shadow: inset 2px 2px rgb(146, 146, 146);
    /* border: 3px solid white; */
    outline: 4px solid rgb(96, 96, 96);
    filter: blur(1px);
    z-index: 100;
}

.hours marquee{
    color:rgb(222, 222, 222);
    width: 40vw;
}

.music{
    overflow-y: scroll;
    position: absolute;
    display: inline-block;
    width: 20vw;
    height: 60vh;

}

#song1{
    display: inline-block;
    position: absolute;
    top: 1vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song1:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}


#song2{
    display: inline-block;
    position: absolute;
    top: 4.7vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song2:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song3{
    display: inline-block;
    position: absolute;
    top: 8.8vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song3:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song4{
    display: inline-block;
    position: absolute;
    top: 12.8vw;
    left: 3vw;
    width: 12.5vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song4:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song5{
    display: inline-block;
    position: absolute;
    top: 18.8vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song5:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song6{
    display: inline-block;
    position: absolute;
    top: 22.8vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song6:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song7{
    display: inline-block;
    position: absolute;
    top: 26.8vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song7:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song8{
    display: inline-block;
    position: absolute;
    top: 32.7vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song8:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song9{
    display: inline-block;
    position: absolute;
    top: 36.8vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song9:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song10{
    display: inline-block;
    position: absolute;
    top: 42.8vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song10:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song11{
    display: inline-block;
    position: absolute;
    top: 48.2vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song11:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song12{
    display: inline-block;
    position: absolute;
    top: 55.7vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song12:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song13{
    display: inline-block;
    position: absolute;
    top: 61.8vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song13:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song14{
    display: inline-block;
    position: absolute;
    top: 65.8vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song14:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song15{
    display: inline-block;
    position: absolute;
    top: 69.8vw;
    left: 3vw;
    width: 15vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song15:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song16{
    display: inline-block;
    position: absolute;
    top: 75.3vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song16:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song17{
    display: inline-block;
    position: absolute;
    top: 79.6vw;
    left: 3vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song17:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#song18{
    display: inline-block;
    position: absolute;
    top: 83.9vw;
    left: 3vw;
    width: 12.5vw;
    font-size: 1.4vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      #000000 50%,
                                      #000000);
                   background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

#song18:hover{
    background-position: 0 0;
                    color:#e8e8e8;
                    transition: all .25s ease-in;
}

#space{
    display: inline-block;
    position: absolute;
    top: 89vw;
    visibility: hidden;
}

#play1{
    display: inline-block;
    position: absolute;
    top: 1.2vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause1{
    display: none;
    position: absolute;
    top: 1.2vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play2{
    display: inline-block;
    position: absolute;
    top: 5vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause2{
    display: none;
    position: absolute;
    top: 5vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play3{
    display: inline-block;
    position: absolute;
    top: 9vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause3{
    display: none;
    position: absolute;
    top: 9vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play4{
    display: inline-block;
    position: absolute;
    top: 13vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause4{
    display: none;
    position: absolute;
    top: 13vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play5{
    display: inline-block;
    position: absolute;
    top: 19vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause5{
    display: none;
    position: absolute;
    top: 19vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play6{
    display: inline-block;
    position: absolute;
    top: 23vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause6{
    display: none;
    position: absolute;
    top: 23vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play7{
    display: inline-block;
    position: absolute;
    top: 27vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause7{
    display: none;
    position: absolute;
    top: 27vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play8{
    display: inline-block;
    position: absolute;
    top: 33vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause8{
    display: none;
    position: absolute;
    top: 33vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play9{
    display: inline-block;
    position: absolute;
    top: 37vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause9{
    display: none;
    position: absolute;
    top: 37svw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play10{
    display: inline-block;
    position: absolute;
    top: 43vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause10{
    display: none;
    position: absolute;
    top: 43svw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play11{
    display: inline-block;
    position: absolute;
    top: 48.4vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause11{
    display: none;
    position: absolute;
    top: 48.4vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play12{
    display: inline-block;
    position: absolute;
    top: 55.8vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause12{
    display: none;
    position: absolute;
    top: 55.8vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play13{
    display: inline-block;
    position: absolute;
    top: 62vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause13{
    display: none;
    position: absolute;
    top: 62vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play14{
    display: inline-block;
    position: absolute;
    top: 66vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause14{
    display: none;
    position: absolute;
    top: 66vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play15{
    display: inline-block;
    position: absolute;
    top: 70vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause15{
    display: none;
    position: absolute;
    top: 70vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play16{
    display: inline-block;
    position: absolute;
    top: 75.5vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause16{
    display: none;
    position: absolute;
    top: 75.5vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}


#play17{
    display: inline-block;
    position: absolute;
    top: 79.8vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause17{
    display: none;
    position: absolute;
    top: 79.8vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#play18{
    display: inline-block;
    position: absolute;
    top: 84vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#pause18{
    display: none;
    position: absolute;
    top: 84vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#line1{
    display: inline-block;
    position: absolute;
    top: 3.2vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line2{
    display: inline-block;
    position: absolute;
    top: 6.9vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line3{
    display: inline-block;
    position: absolute;
    top: 11vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line4{
    display: inline-block;
    position: absolute;
    top: 17vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line5{
    display: inline-block;
    position: absolute;
    top: 21vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line6{
    display: inline-block;
    position: absolute;
    top: 25vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line7{
    display: inline-block;
    position: absolute;
    top: 31vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line8{
    display: inline-block;
    position: absolute;
    top: 34.9vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line9{
    display: inline-block;
    position: absolute;
    top: 41vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line10{
    display: inline-block;
    position: absolute;
    top: 46.6vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line11{
    display: inline-block;
    position: absolute;
    top: 54vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line12{
    display: inline-block;
    position: absolute;
    top: 59.9vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line13{
    display: inline-block;
    position: absolute;
    top: 64vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line14{
    display: inline-block;
    position: absolute;
    top: 68vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line15{
    display: inline-block;
    position: absolute;
    top: 73.5vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line16{
    display: inline-block;
    position: absolute;
    top: 77.5vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line17{
    display: inline-block;
    position: absolute;
    top: 81.8vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

#line18{
    display: inline-block;
    position: absolute;
    top: 87.7vw;
    left: 3vw;
    width: 15vw;
    border: 1px solid black;
}

.songTitle{
    display: block;
    position: absolute;
    width: 20vw;
    height: 7vw;
    bottom: 4vw;
    background-color:#e8e8e8;
    border-top: 8px solid black;
}

#nowLive{
    position: absolute;
    left: 0.5vw;
    font-size: 1.2vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#nowLive::before{
    content: "● ";
    animation: .25s fadeIn infinite;
}

#st1{
    position: absolute;
    left: 3.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st2{
    position: absolute;
    left: 5.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st3{
    position: absolute;
    left: 4vw;
    top: 2.5vw;
    font-size: 2.8vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st4{
    position: absolute;
    left: 0.8vw;
    top: 2.5vw;
    font-size: 1.5vw;
    width: 20vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st5{
    position: absolute;
    left: 7vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 20vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st6{
    position: absolute;
    left: 5.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 20vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st7{
    position: absolute;
    left: 2vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 20vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st8{
    position: absolute;
    left: 5.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 20vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st9{
    position: absolute;
    left: 0.8vw;
    top: 2.5vw;
    font-size: 1.35vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st10{
    position: absolute;
    left: 1.3vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st11{
    position: absolute;
    left: 0.8vw;
    top: 2.5vw;
    font-size: 1.2vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st12{
    position: absolute;
    left: 0.7vw;
    top: 2.5vw;
    font-size: 1.4vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st13{
    position: absolute;
    left: 1.3vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st14{
    position: absolute;
    left: 5.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st15{
    position: absolute;
    left: 3.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st16{
    position: absolute;
    left: 5.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st17{
    position: absolute;
    left: 3.5vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

#st18{
    position: absolute;
    left: 2.8vw;
    top: 2.5vw;
    font-size: 2.8vw;
    width: 22vw;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    color: black;
    visibility: hidden;
}

.volume{
    display: block;
    position: absolute;
    width: 20vw;
    height: 4.2vw;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1)0%, rgba(135,135,135,1) 100%);
}

#volumeSlider{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 1.8vw;
    left: 5vw;
    width:13vw;
    height: 1vw;
    border-radius: 20px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    background-color: white;
    
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.8vw;
    border-radius: 8px;
    background: #000000;
    border: 5px solid white;
    cursor: pointer;
  }

#volumeIcon{
    position: absolute;
    top: 0.8vw;
    left: 1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 8px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    background-color: white;

}

#vi{
    position: absolute;
    top: 0.6vw;
    left: 0.5vw;
    width:2vw;

}

.bottomBar{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 4.9vw;
    width: 100vw;
    background: linear-gradient(180deg, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 100%);
    border-top: 5px solid rgb(139, 139, 139);
    filter: blur(1px);
}

.coloring{
    display: inline-block;
    position: absolute;
    left: 0;
    width: 40vw;
    height: 4.8vw;
    background: linear-gradient(180deg, rgba(96,96,96,1) 0%, rgba(0,0,0,1) 100%);
}

@keyframes moveSide{
    0%{
        left: 0;
    }
    50%{
        left: 2.9vw;
    }
    100%{
        left: 0;
    }
}

#colorText{
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 3px;
    background: linear-gradient(180deg, rgba(58,58,58,1) 0%, rgba(255,255,255,1) 100%);
}

#colorText p{
    position: relative;
    animation: 3s moveSide ease infinite;
}

p::before{
    content: "LIGHT UP!";
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
    background-image: url("gif/wave.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px rgb(214, 214, 214) solid;
    outline: 3px rgb(0, 0, 0) solid;
    border-radius: 3px;
    font-family: 'Edit Undo Line BRK', sans-serif;
    animation: .25s fadeIn infinite;
}



.colorBlocks{
    display: flex;
    position: absolute;
    /* top: 2.5vw; */
    width: 40vw;
    height: 2.7vw;
    bottom: 0;
    /* background-color: aqua; */
}

#black{
    position: absolute;
    left: 1vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: black;
    border: 3px solid rgb(163, 163, 163);
}

#red{
    position: absolute;
    left: 4vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(163, 163, 163);
}

#blue{
    position: absolute;
    left: 7vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(0, 0, 255);
    border: 3px solid rgb(163, 163, 163);
}

#yellow{
    position: absolute;
    left: 10vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: yellow;
    border: 3px solid rgb(163, 163, 163);
}

#green{
    position: absolute;
    left: 13vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(0, 255, 0);
    border: 3px solid rgb(163, 163, 163);
}

#purple{
    position: absolute;
    left: 16vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(166, 0, 255);
    border: 3px solid rgb(163, 163, 163);
}

#pink{
    position: absolute;
    left: 19vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(255, 0, 149);
    border: 3px solid rgb(163, 163, 163);
}

#pink{
    position: absolute;
    left: 19vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(255, 0, 149);
    border: 3px solid rgb(163, 163, 163);
}

#cyan{
    position: absolute;
    left: 22vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(0, 255, 242);
    border: 3px solid rgb(163, 163, 163);
}

#orange{
    position: absolute;
    left: 25vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(255, 98, 0);
    border: 3px solid rgb(163, 163, 163);
}


.ballSize{
    display: inline-block;
    position: absolute;
    left: 40vw;
    width: 25vw;
    height: 4.9vw;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(71, 71, 71)  100%);
    /* background-color: aqua; */
}

#bsicon1{
    position: absolute;
    top: 0.9vw;
    left: 2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 8px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    background-color: white;
}

#bsicon2{
    position: absolute;
    top: 0.9vw;
    left: 20vw;
    width: 3vw;
    height: 3vw;
    border-radius: 8px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    background-color: white;
}

#bsi1{
    position: absolute;
    top: 1.4vw;
    left: 0.6vw;
    width:2vw;
}

#bsi2{
    position: absolute;
    top: 0.6vw;
    left: 0.6vw;
    width:2vw;
}

#image-size-slider{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 2vw;
    left: 6vw;
    width:13vw;
    height: 1vw;
    border-radius: 20px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    background-color: white;

  }

#image-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.8vw;
    border-radius: 8px;
    background: #000000;
    border: 5px solid white;
    cursor: pointer;
  }


/* #wave{
    display: inline-block;
    position: absolute;
    left: 30vw;
    top: 0.5vw;
    width: 8vw;
    height: 1vw;
    border: 1px solid white;
    outline: 3px solid rgb(54, 54, 54);
} */


#speedUp{
    display: inline-block;
    position: absolute;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 1。2vw;
    right: 19vw;
    top: 0.3vw;
    width: 15vw;
    height: 4vw;
    text-align: center;
    background-color:#e8e8e8;
    border-radius: 8px;
    box-shadow: inset 3px 3px rgb(176, 176, 176);
    /* border: 3px solid black;
    outline: 3px solid white; */
}

#normalSpeedBtn{
    display: inline-block;
    position: absolute;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 1.1vw;
    right: 30.5vw;
    top: 2.2vw;
    width: 3vw;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px rgb(92, 92, 92) solid;
    border-radius: 5px;
}

#speedUpBtn1{
    display: inline-block;
    position: absolute;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 1.1vw;
    right: 25vw;
    top: 2.2vw;
    width: 3vw;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px rgb(92, 92, 92) solid;
    border-radius: 5px;
}

#speedUpBtn2{
    display: inline-block;
    position: absolute;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 1.1vw;
    right: 19.5vw;
    top: 2.2vw;
    width: 3vw;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px rgb(92, 92, 92) solid;
    border-radius: 5px;
}

#wave2{
    display: inline-block;
    position: absolute;
    right: 0vw;
    width: 18vw;
    height: 5vw;
}

strong{
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'OffBit Trial', sans-serif; 
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
    visibility: hidden;
    animation: .25s fadeIn infinite;
    
}


@media only screen and (max-width: 1200px) {
    div{
        visibility: hidden;
    }

    strong{
        visibility: visible;
    }
}
