body{
    background: rgb(255, 251, 0);
    overflow: hidden;
}

.title1{
    font-family: "balboa-plus-primary", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    color: rgb(37, 37, 37);
    position: fixed;
    top: -20px;
    left: 25px;
    -webkit-text-stroke: 2px rgb(37, 37, 37);
}

#title2{
    font-family: "balboa-plus-gradient", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    color: rgb(37, 37, 37);
    position: fixed;
    top: -20px;
    left: 25px;
}

#starTitle{
    font-family: "balboa-plus-primary", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    color: rgb(37, 37, 37);
    position: fixed;
    display: inline-block;
    top: -25px;
    right: 200px;
    transform-origin: center;
}

#text1{
    font-family: "latienne-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    position: fixed;
    left: 430px;
    bottom: 110px;
    width: 400px;
    line-height: 1;
    text-justify: auto;
    justify-content: center;
    align-items: center;
}

#name{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 140px;
    color: rgb(37, 37, 37);
}

strong{
    visibility: hidden;
}

#text2{
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: -10px;
    /* transform: skew(-10deg, -10deg); */
    transform: scale(2, 0.5);
    position: fixed;
    left: 140px;
    bottom: 85px;
    color: rgb(37, 37, 37);
    /* background-color: rgb(37, 37, 37); */
    border: 5px solid rgb(37, 37, 37);
    padding-left: 5px;
    padding-right: 5px;
        /* -webkit-text-fill-color: rgb(37, 37, 37);
    -webkit-text-stroke: 5px rgb(255, 251, 0); */
}

#text3{
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: fixed;
    left: 480px;
    bottom: 26px;
    width: 300px;
    transform: scale(1, 1.5);
    color: rgb(255, 251, 0);
    background-color: rgb(37, 37, 37);
    text-decoration: underline;
    text-align: center;
}

#text3:hover{
    color: red;
}

#starText1{
    position: fixed;
    left: 385px;
    bottom: 20px;
    font-size: 60px;
    transform: scale(0.5, 1.8);
    color: rgb(37, 37, 37);
}

#starText2{
    position: fixed;
    left: 755px;
    bottom: 20px;
    font-size: 60px;
    transform: scale(0.5, 1.8);
    color: rgb(37, 37, 37);
}

#metor{
    position: fixed;
    left: 15px;
    bottom: 10px;
    width: 150px;
    transform: scale(0.5, 1);
}

#da{
    position: fixed;
    left: 150px;
    bottom: -10px;
    width: 255px;
    transform: scale(1, 0.7);
}

#text4{
    font-family: "latienne-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    position: fixed;
    right: 390px;
    top: 260px;
    width: 200px;
    line-height: 1;
    text-justify: auto;
    justify-content: center;
    align-items: center;
    transform: skew(0deg, -10deg);
}

#word1{
    position: absolute;
    display: inline-block;
    color: rgb(37, 37, 37);
    top: 0px;
    left: 75px;
}

#word2{
    position: absolute;
    display: inline-block;
    color: rgb(37, 37, 37);
    top: 100px;
    left: 120px;
}

#word3{
    position: absolute;
    display: inline-block;
    color: rgb(37, 37, 37);
    top: 220px;
    left: 35px;
}

.door{
    position: fixed;
    z-index: 10;
}


#d1{
    position: fixed;
    right: 450px;
    bottom: 30px;
    width: 130px;
    height: 200px;
    border: 10px solid rgb(37, 37, 37);
    transform: skew(0deg, -10deg);
}

#d2{
    cursor: pointer;
    position: fixed;
    display: inline-flex;
    right: 460px;
    bottom: 40px;
    width: 110px;
    height: 180px;
    background-color: rgb(37, 37, 37);
    /* border: 10px solid rgb(37, 37, 37); */
    transform: skew(0deg, -10deg);
}



#doorknob{
    position: fixed;
    display: inline-flex;
    right: 470px;
    bottom: 100px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 251, 0);
    border-radius: 50%;
}

#text5{
    font-family: "puntino-star", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    line-height: 0.8;
    position: fixed;
    bottom: 20px;
    right: 35px;
    color: rgb(37, 37, 37);
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(37, 37, 37);
    border-style: dotted;
}

.arrow{
    position: fixed;
    bottom: 50px;
    right: 375px;
    font-size: 65px;
    line-height: 0.7;
    color: rgb(37, 37, 37);
    transform: skew(10deg, 40deg);

}

/* .box{
    position: fixed;
    display: grid;
    right: 0px;
    gap: 9px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    width: 400px;
    height: 1000px;
} */

#b1{
    position: fixed;
    width: 150px;
    height: 130px;
    border: 5px solid rgb(37, 37, 37);
    border-style: dotted;
    right: 35px;
    top: 10px;
}

#b2{
    position: fixed;
    width: 280px;
    height: 130px;
    border: 5px solid rgb(37, 37, 37);
    border-style: dotted;
    right: 50px;
    top: 170px;
    /* font-family: "puntino-star", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px; */
}

/* #bonus{
    position: absolute;
    right: 45px;
    top: 80px;
    display: inline-block;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -2px;
    transform: scale(2, 0.5);

}

p{
    visibility: hidden;
    transition: 2s ease;
} */

#b3{
    position: fixed;
    width: 180px;
    height: 250px;
    border: 5px solid rgb(37, 37, 37);
    border-style: dotted;
    right: 102px;
    top: 330px;
}

#puppy{
    position: fixed;
    width: 20px;
    right: 500px;
    bottom: 50px;
    transform: rotate(-60deg);
    transition: transform 2s;
}

#books{
    position: fixed;
    width: 20px;
    right: 500px;
    bottom: 50px;
    transform: rotate(90deg);
}

#sky{
    position: fixed;
    width: 0px;
    height: 125px;
    right: 53px;
    top: 173px;
}

#starText3{
    position: fixed;
    right: 250px;
    top: 345px;
    font-size: 150px;
    transform: scale(0.5, 1.8);
    color: rgb(37, 37, 37);
}

#starText4{
    position: fixed;
    right: -15px;
    top: 345px;
    font-size: 150px;
    transform: scale(0.5, 1.8);
    color: rgb(37, 37, 37);
}

#a4{
    position: fixed;
    bottom: 210px;
    right: 360px;
    font-size: 80px;
    line-height: 0.7;
    color: rgb(37, 37, 37);
    transform: scaleX(-1) skew(10deg, 40deg);
    

}

/* #a5{
    position: fixed;
    bottom: 250px;
    right: 360px;
    font-size: 80px;
    line-height: 0.7;
    color: rgb(37, 37, 37);
    transform: scaleX(-1) skew(10deg, 40deg);
} */

#sticker1{
    position: fixed;
    width: 248px;
    height: 95px;
    background-color:rgb(37, 37, 37);
    top: 150px;
    right: 350px;
    border-radius: 50%;
    transform: rotate(-10deg);
    border: 2px solid rgb(255, 251, 0);
    outline: 5px solid rgb(37, 37, 37);
}

.title3{
    font-family: "puntino-star", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 0.8;
    color: rgb(255, 251, 0);
    /* color: rgb(255, 251, 0); */
    /* -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px black; */
    /* color: rgba(0, 0, 0, 0); */
    /* animation: wiggle1 0.1s infinite; */
    position: relative;
    left:120px;
    top: 12px;
    width:50px;
    /* transform: skew(-30deg, -20deg); */
    transform: rotate(-10deg);
    text-indent: -100px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation: changeScale 10s infinite;
}

@keyframes changeScale{
    0%{ transform-origin: bottom left;
        transform: scale(0);
    }
    10%{ transform-origin: bottom left;
        transform: scale(0);
    }
    40%{ transform-origin: bottom left;
        transform: scale(1) rotate(-10deg);
    }
    80%{ transform-origin: bottom left;
        transform: scale(1) rotate(-10deg);
    }
    100%{ transform-origin: bottom left;
        transform: scale(0);
    }
}




.line1{
    position: fixed;
    top: 125px;
    left: 35px;
    width: 1050px;
    height: 8px;
    background-color: rgb(37, 37, 37);

}


.line2{
    position: fixed;
    top: 135px;
    left: 35px;
    width: 1050px;
    height: 3px;
    background-color: rgb(37, 37, 37);

}

#grid{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 9px;
    /* gap: 10px; full screen big*/
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    position: fixed;
    left: 35px;
    top: 150px;
    /* bottom: 50px; */
    width: 800px;
    height: 465px;
    /* height: 550px; full screen big*/
    overflow: hidden;
    border: 3px solid rgb(37, 37, 37);
    /* animation: wiggle2 0.1s infinite; */
    /* border-radius: 10px; */
}

.letter{
    margin: auto;
    text-align: center;
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-family: "joly-headline", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: 'Fenn Hand', sans-serif; */
    /* font-family: 'Kramerized', sans-serif; */
                                                

}

#starBorder1{
    left: 5px;
    display: grid;
    gap: 30px;
    overflow: hidden;
    position: fixed;
}

#starBorder2{
    right: 5px;
    display: grid;
    gap: 30px;
    overflow: hidden;
    position: fixed;
}

.star{
    color: rgb(37, 37, 37);
}

/* #arrowBig{
        font-family: balboa-plus-fill, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        letter-spacing: -10px;
        transform: skew(-30deg, -10deg) rotate(-10deg);
        position: fixed;
        right: 420px;
        bottom: 255px;
        color: rgb(37, 37, 37);
        padding-left: 5px;
        padding-right: 5px;
}

#musicBG{
    position: fixed;
    right: 250px;
    bottom: 215px;
    width: 90px;
    height: 90px;
    background-color: rgb(37, 37, 37);
}

#music1{
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    letter-spacing: -7px;
    transform: scale(1.5, 2);
    position: fixed;
    right: 263px;
    bottom: 228px;
    color: rgb(255, 251, 0);
    padding-left: 5px;
    padding-right: 10px;
}

#musicBorder{
    position: fixed;
    right: 90px;
    bottom: 170px;
    width: 110px;
    height: 180px;
    border: 5px solid rgb(37, 37, 37);
    transform: scale(2, 0.5);
}

#music2{
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 000;
    font-style: normal;
    font-size: 76px;
    line-height: 60px;
    letter-spacing: -10px;
    position: fixed;
    right: 80px;
    bottom: 169px;
    color: rgb(37, 37, 37);
    text-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: skew(-10deg, 0deg) scale(1.8,0.4);
    padding-left: 5px;
    padding-right: 10px;
} */







@keyframes wiggle1{
    0%{top: -2px;
        left: 8px;
    }
    50%{top: 0px;
        left: 10px;
    }
    100%{ top: -2px;
        left: 8px;
    }
}

@keyframes wiggle2{
    0%{bottom: 8px;
        right: 8px;
    }
    50%{bottom: 10px;
        right: 10px;
    }
    100%{bottom: 8px;
        right: 8px;
    }
}

h1{
    transform: translate(-50%,-50%) scale(1, 2.5);
    position: fixed;
    top: 40%;
    left: 50%;
    font-family: balboa-plus-primary, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    letter-spacing: 0px;
    color: rgb(37, 37, 37);
    /* border: 5px solid rgb(37, 37, 37);
    border-style: double; */
    visibility: hidden;
}

p{
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: fixed;
    transform: translate(-50%,-50%) scale(2, 1);
    top: 65%;
    left: 50%;
    width: 35vw;
    line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(37, 37, 37);
    padding: 5px;
    border: 5px solid rgb(37, 37, 37);
    visibility: hidden;
}

@media only screen and (max-width: 1420px) {
    div,strong,span,img{
        visibility: hidden !important;
    }
    h1,p{
        visibility: visible !important;
    }

}




