body{
    background-color: rgb(124, 98, 60);
    color:rgb(255, 255, 255);
    animation: show 2s forwards;
    font-family: "aglet-mono-variable", sans-serif;
    font-variation-settings: "wght" 300;
    overflow: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title{
    position: relative;
    font-family: "rafaella", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
text-align: center;
/* color: rgb(124, 98, 60); */
left: 50%;
top: -1%;
transform: translate(-50%);
}

#back{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    /* color:rgb(124, 98, 60);
    background-color: white; */
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

#about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 300px;
    font-size: 15px;
    text-wrap: wrap;
    border: 1px solid rgb(255, 255, 255);
    align-content: center;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}